e(n)
  return n * 0.25rem

// --- BoxSizing
box-border()
  box-sizing border-box

insets(n)
  top e(n)
  right e(n)
  bottom e(n)
  left e(n)

// --- Padding
py(n)
  padding-top e(n)
  padding-bottom e(n)

px(n)
  padding-left e(n)
  padding-right e(n)

pt(n)
  padding-top e(n)

pl(n)
  padding-left e(n)

pr(n)
  padding-right e(n)

pb(n)
  padding-bottom e(n)

// --- Margin
my(n)
  margin-top e(n)
  margin-bottom e(n)

mx(n)
  margin-left e(n)
  margin-right e(n)

mt(n)
  margin-top e(n)

ml(n)
  margin-left e(n)

mr(n)
  margin-right e(n)

mb(n)
  margin-bottom e(n)

pop-fade(name, el)
  .{name}-fade-enter-active {
    animation: pop-overlay-fade-in var(--tu-animation-time);
    {el} {
      animation: pop-fade-in var(--tu-animation-time);
    }
  }

  .{name}-fade-leave-active {
    animation: pop-overlay-fade-out var(--tu-animation-time);
    {el} {
      animation: pop-fade-out var(--tu-animation-time);
    }
  }
