
fade-in-scale-up(name, el)
  .{name}-fade-enter-active
    animation fade-in 0.3s
    {el}
      transition transform 0.3s
      animation fade-in-scale-up-in 0.3s

  .{name}-fade-leave-active
    animation fade-out 0.3s
    {el}
      transition transform 0.3s
      animation fade-in-scale-up-out 0.3s
