$primary-color = #1a73e8
$success-color = #34A853
$warning-color = #F9B208
$error-color = #EA4335
$info-color = #8D93AB

$primary-box-shadow-focus = 0 0 0 2.2px rgba(68, 99, 209, 0.2)
$success-box-shadow-focus = 0 0 0 2px rgba(24, 160, 88, 0.2)
$warning-box-shadow-focus = 0 0 0 2px rgba(240, 160, 32, 0.2)
$error-box-shadow-focus = 0 0 0 2px rgba(208, 48, 80, 0.2)

$cubic-bezier = cubic-bezier(0.4, 0, 0.2, 1)
