@keyframes wave-spread {
  from {
    box-shadow: 0 0 0.5px 0 var(--ripple-color);
  }

  to {
    box-shadow: 0 0 0.5px 4.5px var(--ripple-color);
  }
}

@keyframes wave-opacity {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0;
  }
}

/* switch wave transition */
@keyframes big-wave-spread {
  from {
    box-shadow: 0 0 0 0 var(--ripple-color);
  }

  to {
    box-shadow: 0 0 0 6px var(--ripple-color);
  }
}

@keyframes big-wave-opacity {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 0;
  }
}
