@keyframes wave-spread
  from
    box-shadow 0 0 0.5px 0 var(--ripple-color)

  to
    box-shadow 0 0 0.5px 4.5px var(--ripple-color)

@keyframes wave-opacity
  from
    opacity 0.6

  to
    opacity 0

/* switch wave transition */
@keyframes big-wave-spread
  from
    box-shadow 0 0 0 0 var(--ripple-color)

  to
    box-shadow 0 0 0 6px var(--ripple-color)

@keyframes big-wave-opacity
  from
    opacity 0.4

  to
    opacity 0

// 弹出渐变
@keyframes fade-in
  0%
    opacity 0

  100%
    opacity 1

@keyframes fade-out
  0%
    opacity 1

  100%
    opacity 0

@keyframes fade-in-scale-up-in
  0%
    transform scale(0.6)
    opacity 0

  100%
    translateZ0()
    transform scale(1)
    opacity 1

@keyframes fade-in-scale-up-out
  0%
    transform scale(1)
    opacity 1

  100%
    transform scale(0.6)
    opacity 0
