@require './animation'
@require './_mixins'

$base = '.tu-base-wave'

{$base}
  box-border()
  insets(0)
  position absolute
  border-radius inherit
  pointer-events none
  opacity 0
  z-index 1
  animation-iteration-count 1
  animation-duration 0.6s
  animation-timing-function cubic-bezier(0, 0, 0.2, 1), cubic-bezier(0, 0, 0.2, 1)
  &{$base}--active
    animation-name wave-spread, wave-opacity
  &{$base}--big-active
    animation-name big-wave-spread, big-wave-opacity
