@require './animation'
@require './_mixins'

$base = '.tu-button'
$button-height = 34px
$rounded-size = $button-height / 2
$round-padding = 21px
$circle-padding = 9px

shape(padding, radius)
  padding 0 padding
  --tu-border-radius radius

border-default(color, style = solid)
  {$base}__border, {$base}__state-border
    border 1px style
  {$base}__border
    border-color color
  {$base}__state-border
    border-color #0000

line-color(color)
  color color
  {$base}__state-border
    border-color color

type(default, hover, pressed)
  --ripple-color default
  color #fff
  background-color default
  &:hover, &:focus
    background-color hover
  &:active
    background-color pressed
  &{$base}--loading, &{$base}--disabled
    opacity 0.5
    cursor not-allowed
    background-color default

dashed(default, hover, pressed)
  color default
  background-color #0000
  border-default(default, dashed)
  &:hover, &:focus
    line-color(hover)
  &:active
    line-color(pressed)
  &{$base}--loading, &{$base}--disabled
    opacity 0.5
    cursor not-allowed
    line-color(default)

ghost(default, hover, pressed)
  color default
  background-color #0000
  border-default(default)
  &:hover, &:focus
    line-color(hover)
  &:active
    line-color(pressed)
  &{$base}--loading, &{$base}--disabled
    opacity 0.5
    cursor not-allowed
    line-color(default)

text(default, hover, pressed)
  color default
  &:hover, &:focus
    color hover
    background-color #0000
  &:active
    color pressed
    background-color #0000
  &{$base}--loading, &{$base}--disabled
    opacity 0.5
    cursor not-allowed
    color default
    background-color #0000

type-style(default, hover, pressed)
  type(default, hover, pressed)
  &{$base}--dashed
    dashed(default, hover, pressed)
  &{$base}--ghost
    ghost(default, hover, pressed)
  &{$base}--text
    text(default, hover, pressed)

{$base}
  --tu-height $button-height
  --tu-padding 0 16px
  --tu-font-size 14px
  --tu-border-color #dcdfe6
  --tu-icon-size 16px
  &--small
    --tu-height 28px
    --tu-padding 0 14px
    --tu-font-size 13px
    --tu-icon-size 15px
  &--large
    --tu-height 40px
    --tu-padding 0 18px
    --tu-font-size 15px
    --tu-icon-size 18px

{$base}
  box-border()
  padding var(--tu-padding)
  border none
  position relative
  min-height var(--tu-height)
  font-size var(--tu-font-size)
  color var(--tu-text-color)
  background-color #ffffff
  border-radius var(--tu-border-radius)
  cursor pointer
  display inline-flex
  justify-content center
  align-items center
  flex-wrap nowrap
  white-space nowrap
  transition var(--tu-color-transition), var(--tu-bg-color-transition)
  text-decoration none
  line-height 1
  &__content
    display flex
    align-items center
    flex-wrap nowrap
  &__border
    width 100%
  &__border, &__state-border
    box-border()
    inset 0
    position absolute
    border-radius inherit
    pointer-events none
  &__state-border
    transition var(--tu-border-color-transition)
  &__icon
    box-border()
    width var(--tu-icon-size)
    height var(--tu-icon-size)
    display inline-flex
    justify-content center
    align-items center
  .tu-icon
    &--left
      margin-right 4px
      &.tu-icon--empty
        margin-right 0
    &--right
      order 1
      margin-left 4px
      &.tu-icon--empty
        margin-left 0
  &__loading-icon
    width 1em
    height 1em

{$base}
  &--default
    --ripple-color var(--tu-primary-color)
    border-default(var(--tu-border-color))
    &:hover, &:focus
      line-color(var(--tu-primary-color))
    &:active
      line-color(var(--tu-primary-color-pressed))

    &{$base}--dashed
      background-color #0000
      {$base}__border, {$base}__state-border
        border-style dashed

    &{$base}--ghost
      background-color #0000

    &{$base}--disabled
      opacity 0.5
      cursor not-allowed
      color var(--tu-text-color)
      {$base}__state-border
        border-color var(--tu-border-color)

  &--primary
    type-style(var(--tu-primary-color), var(--tu-primary-color-hover), var(--tu-primary-color-pressed))
  &--success
    type-style(var(--tu-success-color), var(--tu-success-color-hover), var(--tu-success-color-pressed))
  &--info
    type-style(var(--tu-info-color), var(--tu-info-color-hover), var(--tu-info-color-pressed))
  &--warning
    type-style(var(--tu-warning-color), var(--tu-warning-color-hover), var(--tu-warning-color-pressed))
  &--error
    type-style(var(--tu-error-color), var(--tu-error-color-hover), var(--tu-error-color-pressed))

  &{$base}--round
    shape($round-padding, $rounded-size)

  &{$base}--circle
    shape($circle-padding, $rounded-size)

  &--small
    &{$base}--round
      shape(18px, calc(var(--tu-height) / 2))
    &{$base}--circle
      shape(6.5px, calc(var(--tu-height) / 2))

  &--large
    &{$base}--round
      shape(25px, calc(var(--tu-height) / 2))
    &{$base}--circle
      shape(11px, calc(var(--tu-height) / 2))

  &--text
    background-color: #0000;
    padding 0
    min-height auto
    &--default
      color var(--tu-text-color)


