@require './animation'
@require './_mixins'

$base = '.tu-button'
$button-height = 34px
$rounded-size = $button-height / 2
$round-padding = 21px
$circle-padding = 9px

shape(padding, radius)
  padding 0 padding
  --tu-border-radius radius

border-default(color, style = solid)
  {$base}__border, {$base}__state-border
    border 1px style
  {$base}__border
    border-color color
  {$base}__state-border
    border-color #0000

line-color(color)
  color color
  {$base}__state-border
    border-color color

type(base, light, dark)
  --ripple-color base
  color #fff
  background-color base
  &:hover, &:focus
    background-color light
  &:active
    background-color dark
  &{$base}--loading, &{$base}--disabled
    background-color light

dashed(base, light, dark)
  color base
  background-color #0000
  border-default(base, dashed)
  &:hover, &:focus
    line-color(light)
  &:active
    line-color(dark)
  &{$base}--loading, &{$base}--disabled
    line-color(light)

ghost(base, light, dark)
  color base
  background-color #0000
  border-default(base)
  &:hover, &:focus
    line-color(light)
  &:active
    line-color(dark)
  &{$base}--loading, &{$base}--disabled
    line-color(light)

text(base, light, dark)
  color base
  &:hover, &:focus
    color light
    background-color #0000
  &:active
    color dark
    background-color #0000
  &{$base}--loading, &{$base}--disabled
    color light
    background-color #0000

type-style(base, light, dark)
  type(base, light, dark)
  &{$base}--dashed
    dashed(base, light, dark)
  &{$base}--ghost
    ghost(base, light, dark)
  &{$base}--text
    text(base, light, dark)

{$base}
  box-border()
  px(4)
  border none
  position relative
  min-height $button-height
  font-size 14px
  color var(--tu-text-color-primary)
  background-color #ffffff
  border-radius var(--tu-border-radius)
  cursor pointer
  display inline-flex
  justify-content center
  align-items center
  flex-wrap nowrap
  white-space nowrap
  transition var(--tu-color-transition), var(--tu-bg-color-transition)
  text-decoration none
  line-height 1
  &__content
    display inline-flex
    align-items center
    flex-wrap nowrap
  &__border
    width 100%
  &__border, &__state-border
    box-border()
    insets(0)
    position absolute
    border-radius inherit
    pointer-events none
  &__state-border
    transition var(--tu-border-color-transition)
  &__icon
    box-border()
    width var(--tu-button-icon-size)
    height var(--tu-button-icon-size)
    display inline-flex
    justify-content center
    align-items center
  .tu-icon
    &--left
      margin-right 4px
      &.tu-icon--empty
        margin-right 0
    &--right
      order 1
      margin-left 4px
      &.tu-icon--empty
        margin-left 0
  &__loading-icon
    width 1em
    height 1em

{$base}
  &--default
    --ripple-color var(--tu-primary-color)
    border-default(var(--tu-button-border-color))
    &:hover, &:focus
      line-color(var(--tu-primary-color))
    &:active
      line-color(var(--tu-primary-color-dark))
    &{$base}--dashed
      background-color #0000
      {$base}__border, {$base}__state-border
        border-style dashed
    &{$base}--ghost
      background-color #0000

  &--primary
    type-style(var(--tu-primary-color), var(--tu-primary-color-light), var(--tu-primary-color-dark))
  &--success
    type-style(var(--tu-success-color), var(--tu-success-color-hover), var(--tu-success-color-pressed))
  &--info
    type-style(var(--tu-info-color), var(--tu-info-color-hover), var(--tu-info-color-pressed))
  &--warning
    type-style(var(--tu-warning-color), var(--tu-warning-color-hover), var(--tu-warning-color-pressed))
  &--error
    type-style(var(--tu-error-color), var(--tu-error-color-hover), var(--tu-error-color-pressed))

  &{$base}--round
    shape($round-padding, $rounded-size)

  &{$base}--circle
    shape($circle-padding, $rounded-size)

  &--small
    font-size var(--tu-button-small-font-size)
    padding 0 var(--tu-button-small-padding)
    min-height var(--tu-button-small-height)
    {$base}__icon
      width var(--tu-button-small-icon-size)
      height var(--tu-button-small-icon-size)
    &{$base}--round
      shape(var(--tu-button-small-padding-round), calc(var(--tu-button-small-height) / 2))
    &{$base}--circle
      shape(var(--tu-button-small-padding-circle), calc(var(--tu-button-small-height) / 2))

  &--large
    font-size var(--tu-button-large-font-size)
    padding 0 var(--tu-button-large-padding)
    min-height var(--tu-button-large-height)
    {$base}__icon
      width var(--tu-button-large-icon-size)
      height var(--tu-button-large-icon-size)
    &{$base}--round
      shape(var(--tu-button-large-padding-round), calc(var(--tu-button-large-height) / 2))
    &{$base}--circle
      shape(var(--tu-button-large-padding-circle), calc(var(--tu-button-large-height) / 2))

  &--text
    background-color: #0000;
    padding 0
    min-height auto
    &--default
      color var(--tu-text-color-primary)


