$base = '.tu-cascader'
$option = $base + '-option'

{$base}
  cursor pointer
  display flex
  position relative

{$base}-menu
  background-color #fff
  box-shadow var(--tu-menu-box-shadow)
  border-radius 3px
  overflow hidden
  display flex
  width max-content

{$base}-submenu
  --tu-bg-color-disabled rgba(46, 51, 56, 0.05)
  height calc(var(--tu-option-height) * 6.6)
  &:not(:first-child)
    border-left 1px solid var(--tu-border-color-light)
  & > .tu-scrollbar
    height 100%

{$option}
  position relative
  display flex
  justify-content space-between
  align-items center
  cursor pointer
  min-height var(--tu-option-height)
  min-width 180px
  padding-left 18px
  font-size var(--tu-font-size)
  transition background-color 0.3s
  &:hover
    background-color #f3f3f5

  &--pending
    background-color #f3f3f5
    {$option}__icon--checkmark
      color var(--tu-primary-color)

  &--disabled
    color var(--tu-text-color-disabled)
    background-color #0000
    cursor not-allowed
    &__suffix
      color var(--tu-text-color-disabled)
    &:hover
      background-color #0000
  &--pending&--disabled
    background-color var(--tu-bg-color-disabled)
    {$option}__icon--checkmark
      color var(--tu-primary-color-hover)

  &__suffix
    width 32px
    color var(--tu-text-color-secondary)
    display flex
    justify-content center
    align-items center

  &__icon
    width 16px
    height 16px
