.tu-col
  box-sizing border-box
  position relative

for num in (1..24)
  .tu-col--span-{num}
    width "calc(100% / 24 * %s)" % num
  .tu-col--offset-{num}
    margin-left "calc(100% / 24 * %s)" % num
  .tu-col--push-{num}
    left "calc(100% / 24 * %s)" % num
  .tu-col--pull-{num}
    right "calc(100% / 24 * %s)" % num
