.tu-collapse-transition--active
  transition height var(--t-collapse-transition-duration) ease-in-out, padding-top var(--t-collapse-transition-duration) ease-in-out, padding-bottom var(--t-collapse-transition-duration) ease-in-out, margin-top var(--t-collapse-transition-duration) ease-in-out, margin-bottom var(--t-collapse-transition-duration) ease-in-out
