.tu-collapse-transition--active
  transition height var(--tu-collapse-transition-duration) ease-in-out, padding-top var(--tu-collapse-transition-duration) ease-in-out, padding-bottom var(--tu-collapse-transition-duration) ease-in-out, margin-top var(--tu-collapse-transition-duration) ease-in-out, margin-bottom var(--tu-collapse-transition-duration) ease-in-out
