
// .tu-collapse-transition--active
//   transition height var(--t-collapse-transition-duration) ease-in-out, padding-top var(--t-collapse-transition-duration) ease-in-out, padding-bottom var(--t-collapse-transition-duration) ease-in-out, margin-top var(--t-collapse-transition-duration) ease-in-out, margin-bottom var(--t-collapse-transition-duration) ease-in-out

$duration = 0.3s

.tu-collapse-transition--active {
  transition: height $duration ease-in-out,
    padding-top $duration ease-in-out,
    padding-bottom $duration ease-in-out,
    margin-top $duration ease-in-out,
    margin-bottom $duration ease-in-out
}
  