
// 防止执行动画时内容抖动
stable()
  transform: translateZ(0);

$z-index = 100

.tu-dialog {
  position relative
  width: 446px;
  margin: 30vh auto 0 auto;
  display: flex;
  flex-direction: column;
  &__container {
    position fixed
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index;
  }
  &__overlay {
    position absolute
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .45);
    transition: background-color 0.25s;
  }
}

/* --- 默认组件样式 */
.tu-dialog__content {
  stable()
  background-color: #fff;
  border-radius: var(--tu-dialog-border-radius);
  box-shadow: 0 6px 16px -9px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}
.tu-dialog {
  .tu-dialog__header {
    padding: 18px 20px;
    border-radius: var(--tu-dialog-border-radius) var(--tu-dialog-border-radius) 0 0;
    display: flex;
    align-items: center;
    .prefix-icon {
      margin-right: 6px;
      width: 1.5em;
      height: 1.5em;
      &.tu-icon-success {
        fill: var(--tu-color-success);
      }
      &.tu-icon-warning {
        fill: var(--tu-color-warning);
      }
      &.tu-icon-info {
        fill: var(--tu-color-info);
      }
      &.tu-icon-error {
        fill: var(--tu-color-error);
      }
    }
  }
  .tu-dialog__close {
    margin-left: auto;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background-color: #000000;
      width: 100%;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  .tu-dialog__title {
    line-height: 1;
  }
  .tu-dialog__body {
    padding: 0 20px;
  }
  .tu-dialog__footer {
    padding: 16px 20px;
    // border-top: 1px solid #e8e8e8;
    border-radius: 0 0 var(--tu-dialog-border-radius) var(--tu-dialog-border-radius);
    text-align: right;
    .tu-button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.tu-scrollbar-width {
  overflow hidden
  margin-right var(--tu-scrollbar-width)
}


/* --- 动画样式 */
.dialog-fade-enter-active {
  animation: tu-dialog-overlay-fade-in var(--tu-dialg-animation-time);
  .tu-dialog {
    animation: tu-dialog-fade-in var(--tu-dialg-animation-time);
  }
}

.dialog-fade-leave-active {
  animation: tu-dialog-overlay-fade-out var(--tu-dialg-animation-time);
  .tu-dialog {
    animation: tu-dialog-fade-out var(--tu-dialg-animation-time);
  }
}

@keyframes tu-dialog-overlay-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tu-dialog-overlay-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes tu-dialog-fade-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    stable()
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes tu-dialog-fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
