
// 防止执行动画时内容抖动
translateZ0()
  transform translateZ(0)

$base = '.tu-dialog'

.tu-dialog
  &__content
    padding 16px 20px 20px

  &__header
    border-radius var(--tu-border-radius) var(--tu-border-radius) 0 0
    display flex
    align-items center

  &__header &__prefix-icon
    margin-right 6px
    width 1.5em
    height 1.5em
    color var(--tu-icon-color)

  &--success
    {$base}__prefix-icon
      --tu-icon-color var(--tu-success-color)
  &--info
    {$base}__prefix-icon
      --tu-icon-color var(--tu-info-color)
  &--warning
    {$base}__prefix-icon
      --tu-icon-color var(--tu-warning-color)
  &--error
    {$base}__prefix-icon
      --tu-icon-color var(--tu-error-color)

  &__close
    width 22px
    height 22px
    color #666666
    border none
    border-radius 3px
    padding 0
    cursor pointer
    display flex
    justify-content center
    align-items center
    margin-left auto
    background-color transparent
    transition background-color 0.3s
    & > .tu-base-icon
      font-size 18px
    &:hover, &:focus
      background-color rgba(0, 0, 0, 0.09)

  &__title
    font-size 18px
    line-height 1

  &__body
    font-size 14px
    margin-top 8px

  &__footer
    margin-top 12px
    border-radius 0 0 var(--tu-border-radius) var(--tu-border-radius)
    text-align right
    .tu-button:not(:last-child)
      margin-right 10px

.tu-scrollbar-width
  overflow hidden
  margin-right var(--tu-scrollbar-width)
