$base = ".tu-ellipsis"

{$base}
  overflow hidden
  &:not({$base}--line-clamp)
    display inline-block
  &--line-clamp
    display -webkit-box
    -webkit-box-orient vertical
  &--cursor-pointer
    cursor pointer
    