@require './vars'
@require './transition'
@require './animation'

@require './base-wave'
@require './button'
@require './button-group'
@require './input' 
@require './switch'
@require './dialog'
@require './icon'
@require './tabs'
@require './pagination'