@require './_mixins'

$base = '.tu-input'

{$base}
  box-border()
  display inline-flex
  border-radius var(--tu-border-radius)
  position relative
  cursor text
  font-size var(--tu-font-size)
  font-family inherit
  line-height 1.5
  &__wrapper
    padding-left 14px
    padding-right 14px
    display inline-flex
    flex-grow 1
  &__border
    box-border()
    position absolute
    inset 0
    pointer-events none
    border-radius inherit
    border 1px solid var(--tu-border-color)
    transition var(--tu-box-shadow-transition), var(--tu-border-color-transition)
  &:hover
    {$base}__border
      border-color var(--tu-color-primary)
  &--focus
    {$base}__border
      border-color var(--tu-color-primary)
      box-shadow var(--tu-wave-active-box-shadow)

  &__prefix, &__suffix
    white-space nowrap
    display inline-flex
    justify-content center
    align-items center
  &__prefix
    margin-right 4px
  &__suffix
    margin-left 4px

{$base}__inner-wrap
  display inline-flex
  flex-grow 1
{$base}__inner
  box-border()
  width 100%
  display inline-flex
  border none
  padding 0
  font-size var(--tu-font-size)
  font-family inherit
  line-height 34px
  &:focus, &:focus-visible
    outline none

{$base}-group
  display inline-flex
  &-label
    display inline-flex
    align-items center
    border 1px solid #e0e0e6
    line-height 34px
    padding 0 12px
    &:first-child
      border-right 0
      border-top-left-radius var(--tu-border-radius)
      border-bottom-left-radius var(--tu-border-radius)
    &:last-child
      border-left 0
      border-top-right-radius var(--tu-border-radius)
      border-bottom-right-radius var(--tu-border-radius)
  {$base}
    flex-grow 1
    &:not(:first-child)
      border-top-left-radius 0
      border-bottom-left-radius 0
    &:not(:last-child)
      border-top-right-radius 0
      border-bottom-right-radius 0