@require './_mixins'

$base = '.tu-input'

{$base}
  --tu-border-color-hover var(--tu-primary-color)
  --tu-border-color-disabled rgb(224, 224, 230)
  --tu-box-shadow-focus $primary-box-shadow-focus
  --tu-bg-color-disabled rgb(250, 250, 252)
  --tu-loading-color var(--tu-primary-color)
  --tu-icon-color rgba(194, 194, 194, 1)
  --tu-icon-color-hover rgba(146, 146, 146, 1)
  --tu-icon-color-pressed rgba(175, 175, 175, 1)
  --tu-icon-color-disabled rgba(209, 209, 209, 1)
  &--status
    &-success
      --tu-border-color var(--tu-success-color)
      --tu-border-color-hover var(--tu-success-color)
      --tu-box-shadow-focus $success-box-shadow-focus
      --tu-loading-color var(--tu-success-color)
    &-warning
      --tu-border-color var(--tu-warning-color)
      --tu-border-color-hover var(--tu-warning-color)
      --tu-box-shadow-focus $warning-box-shadow-focus
      --tu-loading-color var(--tu-warning-color)
    &-error
      --tu-border-color var(--tu-error-color)
      --tu-border-color-hover var(--tu-error-color)
      --tu-box-shadow-focus $error-box-shadow-focus
      --tu-loading-color var(--tu-error-color)

{$base}
  display inline-flex
  border-radius var(--tu-border-radius)
  position relative
  cursor text
  font-size var(--tu-font-size)
  font-family inherit
  line-height 1.5

  &__wrapper
    min-width 240px
    padding-left 12px
    padding-right 12px
    display flex
    flex-grow 1

  &__border
    position absolute
    inset 0
    pointer-events none
    border-radius inherit
    border 1px solid var(--tu-border-color)
    transition box-shadow 0.3s $cubic-bezier, border-color 0.3s $cubic-bezier
  &:hover
    {$base}__border
      border-color var(--tu-border-color-hover)

  &__prefix, &__suffix
    white-space nowrap
    display inline-flex
    justify-content center
    align-items center

  &__prefix
    margin-right 4px

  &__suffix
    margin-left 4px

  .tu-base-icon
    cursor pointer
    width 16px
    height 16px

  &-clear
    position relative
    width 1rem
    height 1rem
    &__inner
      cursor pointer
      width 100%
      height 100%
      position absolute
      left 50%
      top 50%
      transform translateX(-50%) translateY(-50%)
      font-size 16px
      color var(--tu-icon-color)
      transition color 0.3s
      &:hover
        color var(--tu-icon-color-hover)
      &:active
        color var(--tu-icon-color-pressed)

  &-loading
    margin-left 4px
    color var(--tu-loading-color)
  
  &-eye
    margin-left 4px
    color var(--tu-icon-color)
    transition color 0.3s
    &:hover
      color var(--tu-icon-color-hover)
    &:active
      color var(--tu-icon-color-pressed)

  &&--focus
    {$base}__border
      border-color var(--tu-border-color-hover)
      box-shadow var(--tu-box-shadow-focus)
  
  &{$base}--disabled
    cursor not-allowed
    background-color var(--tu-bg-color-disabled)
    {$base}__inner
      cursor not-allowed
    {$base}__border
      border-color var(--tu-border-color-disabled)

  &--small
    {$base}__wrapper
      padding-left 10px
      padding-right 10px
    {$base}__inner
      line-height 28px
  
  &--large
    font-size 15px
    {$base}__wrapper
      padding-left 14px
      padding-right 14px
    {$base}__inner
      line-height 40px

{$base}__inner-wrap
  display inline-flex
  flex-grow 1

{$base}__inner
  width 100%
  display inline-flex
  border none
  padding 0
  font-size var(--tu-font-size)
  font-family inherit
  line-height 34px
  &:focus, &:focus-visible
    outline none

{$base}-group
  display inline-flex
  &-label
    display inline-flex
    align-items center
    border 1px solid #e0e0e6
    line-height 34px
    padding 0 12px
    &:first-child
      border-right 0
      border-top-left-radius var(--tu-border-radius)
      border-bottom-left-radius var(--tu-border-radius)
    &:last-child
      border-left 0
      border-top-right-radius var(--tu-border-radius)
      border-bottom-right-radius var(--tu-border-radius)
  {$base}
    flex-grow 1
    &:not(:first-child)
      border-top-left-radius 0
      border-bottom-left-radius 0
    &:not(:last-child)
      border-top-right-radius 0
      border-bottom-right-radius 0