.tu-layout
  position relative
  display flex

.tu-layout-sidebar
  --tu-width 240px
  transition width 0.3s, min-width 0.3s
  width var(--tu-width)
  min-width var(--tu-width)

.tu-layout-header, .tu-layout-footer
  height 70px
