$base = '.tu-modal'
$z-index = 2000

translateZ0()
  transform translateZ(0)

{$base}
  position relative
  width 446px
  margin 30vh auto 0 auto
  display flex
  flex-direction column

  &__container
    width 0
    height 0
    position fixed
    top 0
    left 0
    z-index $z-index

  &-wrapper
    position fixed
    top 0
    left 0
    right 0
    bottom 0

  &__content
    translateZ0()
    background-color #fff
    border-radius var(--tu-border-radius)
    box-shadow 0 6px 16px -9px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03)

  &__overlay
    position absolute
    inset 0
    background-color rgba(0, 0, 0, .45)

.tu-disable-scrolling
  overflow-y hidden
  width calc(100% - var(--tu-scrollbar-width))

// overlay
$fade = '.tu-modal-fade'

{$fade}-enter-active,
{$fade}-leave-active
  transition opacity 0.25s ease

{$fade}-enter-from,
{$fade}-leave-active
  opacity 0

// modal
$scale = '.tu-modal-fade-in-scale-up'

{$scale}-enter-active,
{$scale}-leave-active
  transition opacity 0.25s ease, transform 0.25s ease

{$scale}-enter-from,
{$scale}-leave-active
  transform scale3d(0.5, 0.5, 1)
  opacity 0
