$arrow = '.tu-popover-arrow'

.tu-popover
  max-width 280px
  padding 8px 12px
  border-radius 3px
  background-color var(--tu-popover-color)
  min-height 40px
  position absolute
  z-index 1000
  box-shadow var(--tu-box-shadow)
  white-space nowrap

  &-arrow-wrapper, {$arrow}
    position absolute

  {$arrow}
    width 0
    height 0
    border-style solid
    border-width 6px
    border-color transparent

  &-arrow--top
    bottom 0
    {$arrow}
      border-bottom-width 0
      border-top-color var(--tu-popover-color)

  &-arrow--left
    right 0
    {$arrow}
      border-right-width 0
      border-left-color var(--tu-popover-color)
  
  &-arrow--right
    left 0
    // left -6px
    {$arrow}
      border-left-width 0
      border-right-color var(--tu-popover-color)

  &-arrow--bottom
    top 0
    // top -6px
    {$arrow}
      border-top-width 0
      border-bottom-color var(--tu-popover-color)
