
$popover-color = #fff
$arrow = '.tu-popover-arrow'

.tu-popover
  max-width 280px
  padding 8px 12px
  border-radius 3px
  background-color $popover-color
  min-height 40px
  min-width 60px
  position absolute
  z-index 1000
  box-shadow 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)

  &-arrow-wrapper, {$arrow}
    position absolute

  {$arrow}
    width 0
    height 0
    border-style solid
    border-width 6px
    border-color transparent

  &-arrow--top
    bottom 0
    {$arrow}
      border-bottom-width 0
      border-top-color $popover-color

  &-arrow--left
    right 0
    {$arrow}
      border-right-width 0
      border-left-color $popover-color
  
  &-arrow--right
    left -6px
    {$arrow}
      border-left-width 0
      border-right-color $popover-color

  &-arrow--bottom
    top -6px
    {$arrow}
      border-top-width 0
      border-bottom-color $popover-color
