.tu-popup
  box-sizing border-box
  position absolute
  word-wrap break-word
  width max-content

.tu-foothold
  position absolute
  inset 0
  height 0
  pointer-events none
  z-index auto
  & > *
    pointer-events all

$popup = '.tu-popup'

{$popup}-enter-from
  transform scale3d(0.8, 0.8, 1)

{$popup}-leave-active
  transform scale3d(0.8, 0.8, 1)

{$popup}-enter-active,
{$popup}-leave-active
  transition opacity 0.3s ease, transform 0.3s ease

{$popup}-enter-from,
{$popup}-leave-to
  opacity 0