.tu-popup
  position absolute
  word-wrap break-word
  width max-content
  max-width 320px

.tu-foothold
  position absolute
  inset 0
  height 0
  pointer-events none
  z-index auto
  & > *
    pointer-events all