$popup = '.tu-popup'

{$popup}
  box-sizing border-box
  position absolute
  word-wrap break-word
  width max-content

  &-container
    position absolute
    inset 0
    height 0
    pointer-events none
    z-index auto
    & > *
      pointer-events all
