$base = ".tu-scrollbar"

{$base}
  position relative

  &-container
    width 100%
    height 100%
    max-width inherit
    max-height inherit
    overflow scroll
    scrollbar-width none
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-thumb
      width 0
      height 0
      display none

    {$base}--direction-x
      overflow-x auto

  &-content
    box-sizing border-box
    width fit-content
    display flow-root

{$base}-track
  position absolute
  pointer-events none
  user-select none // 禁止选择内部文字，造成滚动条抬起失效的 bug 

  &__scrollbar
    pointer-events all
    cursor pointer
    position absolute
    background-color rgba(0, 0, 0, 0.25)
    border-radius 5px
    transition opacity 0.3s, background-color 0.25s
    &:hover, &:active
      background-color rgba(0, 0, 0, 0.4)
    &:active
      cursor pointer
    &--hidden
      display none

  &--vertical
    width 5px
    right 4px
    top 2px
    bottom 2px
    {$base}-track__scrollbar
      width 100%

  &--horizontal
    height 5px
    left 2px
    right 2px
    bottom 4px
    {$base}-track__scrollbar
      height 100%

// size
{$base}--large
  & > {$base}-track--vertical
    width 7px
    right 3px
    top 2px
    bottom 2px

  & > {$base}-track--horizontal
    height 7px
    left 2px
    right 2px
    bottom 3px
