.tu-select
  box-border()
  cursor pointer
  display flex
  position relative
  font-size var(--tu-font-size)
  &-options
    padding 4px

  &-option
    box-border()
    cursor pointer
    min-height var(--tu-option-height)
    padding 5px var(--tu-select-column-padding)
    padding-right calc(var(--tu-select-column-padding) + 20px)
    position relative
    display flex
    align-items center
    border-radius 3px
    font-size var(--tu-font-size)
    transition background-color 0.25s
    &--selected
      color var(--tu-primary-color)
    &--pending
      background-color #f3f3f5
    &--disabled
      color var(--tu-text-color-disabled)
      background-color #0000
      cursor not-allowed
    &--selected&--disabled
      color var(--tu-primary-color-hover)

    &__icon--checkmark
      width 16px
      height 16px
      margin-top auto
      margin-bottom auto
      position absolute
      top 0
      right var(--tu-select-column-padding)
      bottom 0
      color inherit

.tu-select-menu
  border-radius 3px
  background-color #fff
  box-shadow var(--tu-menu-box-shadow)
  & > .tu-scrollbar
    max-height calc(var(--tu-option-height) * 6.6)
