$base = '.tu-selection-input'

{$base}
  display inline-flex
  position relative
  min-width 240px
  min-height 34px
  line-height 34px
  border-radius 3px
  padding 0 12px
  &:hover
    {$base}__border
      border-color var(--tu-primary-color)
  &--focus
    {$base}__border
      border-color var(--tu-primary-color)
      box-shadow var(--tu-wave-active-box-shadow)
  &:focus, &:focus-visible
    outline none

  &__wrapper
    width 100%
    position relative
  
  &__content
    font-size var(--tu-font-size)
    line-height inherit 

  &__suffix
    display flex
    align-items center
    .tu-base-icon
      width 16px
      height 16px
      margin-right -2px
      color var(--tu-text-color-placeholder)

  &__placeholder
    color var(--tu-text-color-placeholder)
    position absolute
    inset 0

  &__border
    box-border()
    position absolute
    inset 0
    pointer-events none
    border-radius inherit
    border 1px solid var(--tu-border-color)
    transition var(--tu-box-shadow-transition), var(--tu-border-color-transition)
