@require './animation'

$base = '.tu-switch'
// 2px 表示 Switch 的边距

{$base}
  --tu-height 22px
  --tu-core-height calc(var(--tu-height) - 4px)
  --tu-padding 12px
  --tu-bg-color rgba(0, 0, 0, 0.14)
  --tu-shrink-size 5px

  &--small
    --tu-height 18px
    --tu-padding 10px
    --tu-shrink-size 4px

  &--large
    --tu-height 26px
    --tu-padding 14px
    --tu-shrink-size 6px

{$base}
  border none
  cursor pointer
  min-width calc(var(--tu-height) * 2)
  height var(--tu-height)
  border-radius calc(var(--tu-height) / 2)
  background-color var(--tu-bg-color)
  position relative
  padding 0
  transition background-color 0.3s $cubic-bezier, box-shadow 0.3s $cubic-bezier
  --ripple-color var(--tu-primary-color)
  &:focus
    outline none
    box-shadow var(--tu-wave-box-shadow)
  &:hover
    box-shadow none
  &:active
    {$base}__core
      width calc(var(--tu-core-height) + var(--tu-shrink-size))

  &__wrap
    display inline-flex
    position relative
    min-width calc(var(--tu-height) * 2)
    height var(--tu-height)
    overflow hidden
    border-radius inherit

  &__content
    height 200%
    display flex
    flex-direction column
    overflow hidden
    position relative
    padding 0 var(--tu-padding)
    border-radius inherit

  &__checked, &__unchecked
    color #fff
    display flex
    align-items center
    height var(--tu-height)
    transition transform 0.3s
    padding-right calc(var(--tu-core-height) - var(--tu-padding) + 2px + var(--tu-shrink-size) + 2px)
  &__checked
    transform translateX(-100%)

  &__core
    width var(--tu-core-height)
    height var(--tu-core-height)
    border-radius calc(var(--tu-core-height) / 2)
    background-color #fff
    box-shadow 0 2px 4px #00230b33
    position absolute
    top 2px
    left 2px
    transition left 0.3s, margin-left 0.3s, width 0.3s

  &__core-unchecked
    height var(--tu-height)
    padding-left var(--tu-shrink-size)
    display flex
    align-items: center;
    white-space: nowrap;
    position absolute
    top -2px
    left calc(var(--tu-core-height) + 2px)

  &{$base}--checked
    background-color var(--tu-primary-color)
    {$base}__core
      left calc(100% - var(--tu-height) + 2px)
    {$base}__core-unchecked
      transition left 0.3s

    &:focus
      box-shadow var(--tu-wave-active-box-shadow)
    &:hover
      box-shadow none
    &:active
      {$base}__core
        width calc(var(--tu-core-height) + var(--tu-shrink-size))
        margin-left calc(var(--tu-shrink-size) * -1)
      {$base}__core-unchecked
        left calc(var(--tu-core-height) + var(--tu-shrink-size) + 2px)

    {$base}__checked
      transform translateX(0)

  &.is-square
    border-radius 3px
    {$base}__core
      border-radius 3px

  &--small
    min-width calc(var(--tu-height) * 2)
    height var(--tu-height)

  &--large
    min-width calc(var(--tu-height) * 2)
    height var(--tu-height)

