
$base = '.tu-tabs'
$tab-gap = 12px;

{$base}
  &-nav
    display flex
    column-gap $tab-gap
    border-bottom 1px solid var(--tu-border-color)
  &-nav__wrap
    position relative
  &-tab__wrap
    display flex
    column-gap $tab-gap
  &-tab__item
    padding 10px 0
    cursor pointer
    &-label
      transition color 0.3s
    &.active
      color var(--tu-primary-color)
  &-bar
    width 60px
    height 2px
    background-color var(--tu-primary-color)
    margin-bottom -1px
    position absolute
    bottom 0
    &--transition
      transition width 0.3s, left 0.3s 
  
  &-nav__prefix, &-nav__suffix
    display flex
    align-items center
  
  &-nav--segment
    border none
    border-radius 3px
    background-color #f7f7fa
    {$base}-nav__wrap
      padding 3px
      flex-grow 1
    {$base}-tab__wrap
      column-gap unset
    {$base}-tab__item
      padding 6px 0
      display flex
      justify-content center
      align-items center
      flex-grow 1
      border-radius 3px
      transition background-color 0.3s, box-shadow 0.3s
      &.active
        color inherit
        background-color #fff
        box-shadow 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);

.tu-tab-pane
  padding-top 0.75rem
