$fade = '.tu-fade'

{$fade}-enter-active,
{$fade}-leave-active {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

{$fade}-enter-from,
{$fade}-leave-to {
  opacity: 0;
}

// 进入
{$fade}-enter-from {
  transform: scale3d(0.8, 0.8, 1);
}

// 离开
{$fade}-leave-active {
  transform: scale3d(0.8, 0.8, 1);
}