.tu-collapse-transition--active
  overflow hidden
  transition height 0.3s ease-in-out, margin-top 0.3s ease-in-out, margin-bottom 0.3s ease-in-out

.tu-expand-transition--active
  transition width 0.25s ease-in-out, margin 0.25s ease-in-out, opacity 0.25s ease-in-out

// Fade
$fade = '.tu-fade'

{$fade}-enter-from,
{$fade}-leave-to
  opacity 0

{$fade}-enter-active,
{$fade}-leave-active
  transition opacity 0.3s ease

// Zoom Fade
$zoom-fade = '.tu-zoom-fade'

{$zoom-fade}-enter-from
  transform scale3d(0.8, 0.8, 1)

{$zoom-fade}-leave-active
  transform scale3d(0.8, 0.8, 1)

{$zoom-fade}-enter-active,
{$zoom-fade}-leave-active
  transition opacity 0.25s ease, transform 0.25s ease

{$zoom-fade}-enter-from,
{$zoom-fade}-leave-to
  opacity 0

// Slide Fade
$slide-fade = '.tu-slide-fade'

{$slide-fade}-enter-from
  transform translateX(-30px)
  opacity 0

{$slide-fade}-leave-to
  transform translateX(30px)
  opacity 0

{$slide-fade}-enter-active,
{$slide-fade}-leave-active
  transition opacity 0.5s, transform 0.5s
