@require './_variable'

$tree-node = '.tu-tree-node'

{$tree-node}
  --tu-text-color-disabled rgba(194, 194, 194, 1)
  --tu-arrow-color rgb(118, 124, 130)
  padding 3px 0
  border-radius 2px
  transition background-color 0.3s
  display flex
  &:hover:not(&--selected, &--disabled)
    background-color rgb(243, 243, 245)
  &:active:not(&--selected, &--disabled)
    background-color rgb(237, 237, 239)
  &--selected:not(&--disabled)
    background-color rgba($primary-color, 0.1)
  &--disabled
    cursor not-allowed
    {$tree-node}__label
      color var(--tu-text-color-disabled)
  &-checkbox
    display flex
    align-items center
    margin-right 4px
  &__label
    display flex
    align-items center
    font-size var(--tu-font-size)
    padding 0 4px
  &__switch
    cursor pointer
    width 24px
    height 24px
    display flex
    justify-content center
    align-items center
    transition transform 0.15s
    color var(--tu-arrow-color)
    &--expanded
      transform rotate(90deg)
    &--hide
      visibility hidden