$primary-color = #1a73e8

:root
  // 主题色
  --tu-primary-color $primary-color
  --tu-primary-color-hover #5d9cef
  --tu-primary-color-pressed #135bb9

  // 成功
  --tu-success-color #34A853
  --tu-success-color-hover #5db975
  --tu-success-color-pressed #2f974b

  // 信息
  --tu-info-color #8D93AB
  --tu-info-color-hover #a4a9bc
  --tu-info-color-pressed #7f849a

  // 警告
  --tu-warning-color #F9B208
  --tu-warning-color-hover #fcc937
  --tu-warning-color-pressed #e0a007

  // 错误
  --tu-error-color #EA4335
  --tu-error-color-hover #f1877d
  --tu-error-color-pressed #d33c30

  // 文本颜色
  --tu-text-color #0d0d0d
  --tu-text-color-secondary #767c82
  --tu-text-color-tertiary #c2c2c2
  --tu-text-color-placeholder var(--tu-text-color-tertiary)
  --tu-text-color-disabled var(--tu-text-color-tertiary)
  --tu-bg-color-disabled rgb(250, 250, 252)

  --tu-wave-box-shadow 0 0 0 2.2px rgba(0, 0, 0, 0.05)
  --tu-wave-active-box-shadow 0 0 0 2.2px rgba(68, 99, 209, 0.2)

  --tu-font-size 14px
  --tu-font-size-small 12px
  --tu-icon-size var(--tu-font-size)

  --tu-line-height 1.6

  // --tu-border-color #cdd1e4
  --tu-border-color rgb(224, 224, 230)
  --tu-border-color-light rgb(239, 239, 245)
  --tu-border-color-dark #9ca3af

  --tu-border-radius 3px

  // 过渡效果
  --tu-bezier cubic-bezier(.645, .045, .355, 1)
  --tu-box-shadow 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)

  /* Collapse */
  /* Tabs */
  /* Popover */
  --tu-popover-color #fff
  --tu-tooltip-color #262626

  --tu-scrollbar-color rgba(0, 0, 0, 0.25)
  --tu-scrollbar-color-hover rgba(0, 0, 0, 0.4)

  --tu-menu-box-shadow 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)

  // select
  --tu-option-height 34px
  --tu-select-column-padding 12px

.tu-dark
  --tu-scrollbar-color rgba(255, 255, 255, 0.25)
  --tu-scrollbar-color-hover rgba(255, 255, 255, 0.35)

// 默认变量
$cubic-bezier = cubic-bezier(0.4, 0, 0.2, 1)

$primary-box-shadow-focus = 0 0 0 2.2px rgba(68, 99, 209, 0.2)
$success-box-shadow-focus = 0 0 0 2px rgba(24, 160, 88, 0.2)
$warning-box-shadow-focus = 0 0 0 2px rgba(240, 160, 32, 0.2)
$error-box-shadow-focus = 0 0 0 2px rgba(208, 48, 80, 0.2)
