/** 主题色 - 深蓝色 */
// $color-primary = #415fcc;
// $color-primary-light = #7288d9;
// $color-primary-dark = #2b45a1;

/** 主题色 - 浅蓝色 */
// $color-primary = #349dfd;
// $color-primary-light = #81c2fe;
// $color-primary-dark = #0278e3;

/** 主题色 - 紫色 */
// $color-primary = #543dc2;
// $color-primary-light = #8777d4;
// $color-primary-dark = #3b2b88;

:root
  // 主题色
  --t-color-primary #1a73e8
  --t-color-primary-light #5d9cef
  --t-color-primary-dark #135bb9

  // 成功
  --t-color-success #34A853
  --t-color-success-light #5db975
  --t-color-success-dark #2f974b

  // 信息
  --t-color-info #8D93AB
  --t-color-info-light #a4a9bc
  --t-color-info-dark #7f849a

  // 警告
  --t-color-warning #F9B208
  --t-color-warning-light #fcc937
  --t-color-warning-dark #e0a007

  // 错误
  --t-color-error #EA4335
  --t-color-error-light #f1877d
  --t-color-error-dark #d33c30

  // 文本颜色
  --t-color-text-primary #0d0d0d
  --t-color-text-minor #606266
  --t-color-text-looming #C0C4CC

  --t-wave-box-shadow 0 0 0 2.2px rgba(0, 0, 0, 0.05)
  --t-wave-active-box-shadow 0 0 0 2.2px rgba(68, 99, 209, 0.2)

  --t-font-size 14px
  --t-font-size-small 12px
  --t-icon-size var(--t-font-size)

  --t-border-color #cdd1e4
  --t-border-color-light #e4e5e9
  --t-border-color-dark #9ca3af

  --t-border-radius 3px
  --t-border-radius-round 18px
  --t-border-radius-small-round 16px
  --t-border-radius-small-circle 16px
  --t-border-radius-big-round 20px
  --t-border-radius-big-circle 20px

  // 过渡效果
  --t-transition-time 0.25s
  --t-transition-effect cubic-bezier(.645, .045, .355, 1)
  --t-all-transition all var(--t-transition-time) var(--t-transition-effect)
  --t-color-transition color var(--t-transition-time) var(--t-transition-effect)
  --t-bg-color-transition background-color var(--t-transition-time) var(--t-transition-effect)
  --t-border-color-transition border-color var(--t-transition-time) var(--t-transition-effect)
  --t-box-shadow-transition box-shadow var(--t-transition-time) var(--t-transition-effect)

  /* Button default */
  --t-button-border-color #dcdfe6
  --t-button-height 36px
  --t-button-border-radius var(--t-border-radius)
  --t-button-padding 16px
  --t-button-padding-round 21px
  --t-button-padding-circle 9px

  /* Button small */
  --t-button-small-height 32px
  --t-button-small-padding 14px
  --t-button-small-padding-round 18px
  --t-button-small-padding-circle 7px

  /* Button large */
  --t-button-large-height 40px
  --t-button-large-padding 18px
  --t-button-large-padding-round 25px
  --t-button-large-padding-circle 11px

  /* -- Input */
  --t-input-border-color var(--t-color-primary)
  --t-input-padding 0 14px
  --t-input-line-height 34px
  --t-input-placeholder-color #C0C4CC
  --t-input-disabled-bg-color #f3f4f6
  --t-textarea-line-height 1.5
  --t-textarea-padding 6px 14px

  /* Switch */
  --t-switch-height 22px
  --t-switch-padding 12px
  --t-switch-small-height 18px
  --t-switch-large-height 26px
  --t-switch-core-height calc(var(--t-switch-height) - 4px)
  --t-switch-active-bg-color var(--t-color-primary)
  --t-switch-bg-color rgba(0, 0, 0, 0.14)
  --t-switch-unfold 5px

  /* Dialog */
  --t-dialog-border-radius var(--t-border-radius)
  --t-dialg-animation-time var(--t-transition-time)

  /* Collapse */
  --t-collapse-transition-duration 0.3s

  /* Tabs */
  
