// 2021-05-23 backup
// $__color-primary = #2B62FF;
// $__color-primary-light = #689df6;
// $__color-primary-dark = #0035cc;

// $__color-error = #f55c47;
// $__color-error-light = #f89486;
// $__color-error-dark = #da250c;

$__color-primary = #415fcc;
$__color-primary-light = #7288d9;
$__color-primary-dark = #2b45a1;

$__color-success = #34A853;
$__color-success-light = #5db975;
$__color-success-dark = #2f974b;

$__color-info = #8D93AB;
$__color-info-light = #a4a9bc;
$__color-info-dark = #7f849a;

$__color-warning = #F9B208;
$__color-warning-light = #fcc937;
$__color-warning-dark = #e0a007;

// 2021-06-20 
// $__color-error = #ee6751;
// $__color-error-light = #f49a8b;
// $__color-error-dark = #e83417;

$__color-error = #EA4335;
$__color-error-light = #f1877d;
$__color-error-dark = #d33c30;

$__color-text-primary = #0d0d0d;
$__color-text-minor = #606266;
$__color-text-looming = #C0C4CC;

$__border-color = #cdd1e4;
$__border-color-light = #e4e5e9;
$__border-color-dark = #9ca3af;
$__border-radius = 4px;
$__border-radius-round = 18px;
$__round-padding = 21px;
$__circle-padding = 10px;

$__font-size = 14px;
$__font-size-small = 12px;

$__icon-size = $__font-size;

$__transition = cubic-bezier(.645,.045,.355,1);

// Button
$__button-big-padding = 12px 16px;  // 大号
// $__button-line-height = 1;

$__button-small-padding = 8px 14px;  // 小号

// 测试号
$__button-padding = 10px 16px;
$__button-line-height = 1;

// Input
$__input-padding = 0 14px;
$__input-line-height = 34px;
$__input-placeholder-color = #C0C4CC;
$__input-disabled-bg-color = #f3f4f6;
// $__input-wave = #d7ddf4
$__input-wave = rgba(68, 99, 209, 0.2);

$__textarea-line-height = 1.5;
$__textarea-padding = 6px 14px;