// 2021-05-23 backup
// $__color-primary: #2B62FF;
// $__color-primary-light: #689df6;
// $__color-primary-dark: #0035cc;

// $__color-error: #f55c47;
// $__color-error-light: #f89486;
// $__color-error-dark: #da250c;

$__color-primary: #415fcc;
$__color-primary-light: #7288d9;
$__color-primary-dark: #2b45a1;

$__color-error: #ee6751;
$__color-error-light: #f49a8b;
$__color-error-dark: #e83417;

$__color-text-primary: #0d0d0d;
$__color-text-minor: #606266;
$__color-text-looming: #C0C4CC;

$__border-color: #cdd1e4;
$__border-color-light: #e4e5e9;
$__border-radius: 2px;

$__font-size: 14px;
$__font-size-small: 12px;



$__button-padding: 12px 16px;  // 默认
// $__button-padding: 9px 14px;  // 小号