buttonLoading()
  .tulp-button-loading
    transition width 0.3s, opacity 0.3s
    opacity 0
    width 0
    height 14px
    position relative
    box-sizing border-box
    &__icon
      margin-right 5px
    &.active
      position relative
      width 19px
      opacity 1