body {
  // 字体样式参考自: https://github.com/zenozeng/fonts.css/
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #727b91;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.25;
  color: #243457;
}

.logo-font {
  text-shadow: 5px 5px 0 #ff6666;
}

.vue-docs-container {
  background-color: #f3f5f7;
  min-height: 100vh;
}
