.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}

.hello1 {
  color: red;
}
.code-image1 > img {
  width: 500px;
  height: 300px;
}

.hello2 {
  color: red;
}
.code-image2 > img {
  width: 500px;
  height: 300px;
}


.hello3 {
  color: red;
}
.code-image3 > img {
  width: 500px;
  height: 300px;
}


.hello4 {
  color: red;
}
.code-image4 > img {
  width: 500px;
  height: 300px;
}


.hello5 {
  color: red;
}
.code-image5 > img {
  width: 500px;
  height: 300px;
}


.hello6 {
  color: red;
}
.code-image6 > img {
  width: 500px;
  height: 300px;
}


.hello7 {
  color: red;
}
.code-image7 > img {
  width: 500px;
  height: 300px;
}

.hello8 {
  color: red;
}
.code-image8 > img {
  width: 500px;
  height: 300px;
}

.hello9 {
  color: red;
}
.code-image9 > img {
  width: 500px;
  height: 300px;
}
.hello10 {
  color: red;
}
.code-image10 > img {
  width: 500px;
  height: 300px;
}
.hello11 {
  color: red;
}
.code-image11 > img {
  width: 500px;
  height: 300px;
}.hello12 {
  color: red;
}
.code-image12 > img {
  width: 500px;
  height: 300px;
}
.hello13 {
  color: red;
}
.code-image13 > img {
  width: 500px;
  height: 300px;
}
.hello14 {
  color: red;
}
.code-image14 > img {
  width: 500px;
  height: 300px;
}.hello15 {
  color: red;
}
.code-image15 > img {
  width: 500px;
  height: 300px;
}.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}.hello {
  color: red;
}
.code-image > img {
  width: 500px;
  height: 300px;
}