@require "./common/variable"

hideBorder()
  &:not(:first-child, :last-child) 
    border-left-color $__border-color
    border-right-color $__border-color
  &:first-child 
    border-right-color $__border-color
  &:last-child 
    border-left-color $__border-color

.tulp-button-group 
  display inline-flex
  vertical-align middle
  box-sizing border-box
  & > .tulp-button 
    border-radius 0
    & > .tulp-base__wave
      border-radius 0
    &:not(:first-child) 
      margin-left -1px
    &:first-child
      border-top-left-radius $__border-radius
      border-bottom-left-radius $__border-radius
      & > .tulp-base__wave
        border-top-left-radius $__border-radius
        border-bottom-left-radius $__border-radius
    &:last-child
      border-top-right-radius $__border-radius
      border-bottom-right-radius $__border-radius
      & > .tulp-base__wave
        border-top-right-radius $__border-radius
        border-bottom-right-radius $__border-radius
    &:hover, &:focus 
      position relative
      z-index 1
    &__primary
      hideBorder()
    &__error
      hideBorder()