@require "./common/variable"

fillTone(color)
  background-color color
  border-color color

lineTone(color)
  color color
  border-color color

type(base, light, dark)
  --wave-color base
  color #fff
  fillTone(base)
  &:hover, &:focus
    fillTone(light)
  &:active
    fillTone(dark)
  &.is-loading, &.is-disabled 
    fillTone(light)

dashed(base, light, dark)
  border-style dashed
  background-color #fff
  color base
  &:hover, &:focus
    lineTone(light)
  &:active
    lineTone(dark)
  &.is-loading, &.is-disabled 
    lineTone(light)

ghost(base, light, dark)
  background-color transparent
  color base
  &:hover, &:focus
    lineTone(light)
  &:active
    lineTone(dark)
  &.is-loading, &.is-disabled 
    lineTone(light)

.tulp-button
  position relative
  font-size $__font-size
  border 1px solid
  box-sizing border-box
  border-radius $__border-radius
  padding $__button-padding
  cursor pointer
  display inline-flex
  justify-content center
  align-items center
  transition all .3s $__transition
  &__content
    line-height $__button-line-height
  [class*=tulp-icon]+span
    margin-left 5px

.tulp-button
  &:focus
    outline none
  &__default
    --wave-color $__color-primary
    color $__color-text-primary
    background-color #fff
    border-color $__border-color
    &:hover, &:focus
      color $__color-primary
      border-color $__color-primary
    &:active
      color $__color-primary-dark
      border-color $__color-primary-dark
    &.is-loading, &.is-disabled
      color $__color-text-looming
      border-color $__border-color-light
    &.is-dashed
      border-style dashed
    &.is-ghost
      background-color transparent
  &__primary
    type($__color-primary, $__color-primary-light, $__color-primary-dark)
    &.is-dashed
      dashed($__color-primary, $__color-primary-light, $__color-primary-dark)
    &.is-ghost
      ghost($__color-primary, $__color-primary-light, $__color-primary-dark)
  &__error
    type($__color-error, $__color-error-light, $__color-error-dark)
    &.is-dashed
      dashed($__color-error, $__color-error-light, $__color-error-dark)
    &.is-ghost
      ghost($__color-error, $__color-error-light, $__color-error-dark)
