@require "./common/variable"
// @require "./mixins/mixins"

.tulp-captcha-countdown
  cursor pointer
  font-size $__font-size
  display flex
  align-items center
  // buttonLoading()
  &.is-disable, &.is-loading 
    color $__color-text-looming
  [class*=tulp-icon] + &__text 
    margin-left 5px
