for num in (1..24)
  .tulp-col-{num}
    width (num / 24) * 100%
for num in (1..24)
  .tulp-col-offset-{num}
    margin-left (num / 24) * 100%

mediaTypes(type)
  for num in (1..24)
    .tulp-col-{type}-{num}
      width (num / 24) * 100%
  for num in (1..24)
    .tulp-col-offset-{type}-{num}
      margin-left (num / 24) * 100%

medias = {
  'xxl': 1600px,
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px
}

for key, value in medias
  @media (max-width: value)
    mediaTypes(key)