@require "./common/variable"

.tulp-countdown 
  cursor pointer
  font-size $__font-size
  display flex
  align-items center
  .tulp-button-loading
    transition width 0.3s, opacity 0.3s
    opacity 0
    width 0
    height 14px
    position relative
    box-sizing border-box
    overflow hidden
    &__icon
      width 14px
      height 14px
      margin-right 5px
    &.active
      position relative
      width 19px
      opacity 1
  &.is-disable, &.is-loading 
    color $__color-text-looming
  [class*=tulp-icon] + &__text 
    margin-left 5px
