[class^="tulp-icon-"], [class*="tulp-icon-"] 
  width 1em
  height 1em
  fill currentColor
  vertical-align -0.15em
  overflow hidden

// .tulp-loading[class^="tulp-icon-"], .tulp-loading[class*="tulp-icon-"] 
//   width 1em
//   height 1em
//   animation spin 1s cubic-bezier(0.6, 0, 0.4, 1) infinite
//   position absolute
//   top 0
//   left 0

// @keyframes spin 
//   0% 
//     transform rotate(0deg)
//   100% 
//     transform rotate(360deg)
