@import "./common/variable.scss";
@mixin input {
  min-width: 210px;
  border: 1px solid $__border-color;
  box-sizing: border-box;
  border-radius: $__border-radius;
  transition: color 0.3s $__transition, border-color 0.3s $__transition;
  &::placeholder {
    color: $__input-placeholder-color;
  }
  &:hover {
    border-color: $__border-color-dark;
  }
  &:focus {
    border-color: $__color-primary;
  }
  &:focus, &:focus-visible {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: $__input-disabled-bg-color;
    border-color: $__border-color;
  }
}

.t-input {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  &__control {
    padding: $__input-padding;
    line-height: $__input-line-height;
    @include input;
  }
  &__suffix  {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    display: inline-flex;
    align-items: center;
    color: $__color-text-looming;
    &:hover {
      color: $__border-color-dark;
    }
  }
  &.is-suffix > &__control {
    padding-right: 28px;
  }
}
.t-textarea {
  &__control {
    min-height: 30px;
    padding: $__textarea-padding;
    line-height: $__textarea-line-height;
    resize: vertical;
    @include input;
  }
}