.tulp-row
  display flex

justify(key, value)
  &.is-justify-{key}
    justify-content value

.tulp-row
  justify(start, flex-start)
  justify(center, center)
  justify(end, flex-end)
  justify(space-between, space-between)
  justify(space-around, space-around)